body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#nav-style {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom-right-radius : 12px;
    border-bottom-left-radius : 12px;
}

#nav-logo {
    height: 90%;
    position: relative;
    left: 2vw;
}

#nav-cont {
    left: 5vw;
    height: 90%;
    width: 68vw;
    position: relative;
}

#nav-title {
    top: 7%;
    position: relative;
    font-size: clamp(10px, 5vh, 7.6vw);
    font-family: "Montserrat Alternates", sans-serif;
}

#nav-emoji {
    font-size: clamp(5px, 2vh, 3vw);
    position: relative;
    bottom: 0.5vh;
}

#nav-navigation {
    height: 3.3vh;
    position: relative;
    top: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(10px, 58vw, 43vh);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 3px;
}

.nav-design {
    height: 90%;
    width: 25%;
    display: grid;
    place-items: center;
    border-radius: 35px;
    font-size: clamp(10px, 3vw, 2vh);
    color: white;
    text-decoration: none;
}