body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

#nav-style {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow: hidden;
}

#nav-logo {
    height: 90%;
    position: relative;
    left: 2vw;
}

#nav-cont {
    left: 5vw;
    height: 90%;
    width: 68vw;
    position: relative;
}

#nav-title {
    top: 10.5%;
    position: relative;
    font-size: clamp(10px, 5vh, 7.6vw);
    font-family: "Montserrat Alternates", sans-serif;
}

#nav-emoji {
    font-size: clamp(5px, 2vh, 3vw);
    position: relative;
    bottom: 0.5vh;
}

#nav-navigation {
    height: 3.3vh;
    position: relative;
    top: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(10px, 58vw, 43vh);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 3px; 
}

.nav-design {
    height: 90%;
    width: 28%;
    display: grid;
    place-items: center;
    border-radius: 35px;
    font-size: 2vh;
    color: white;
    text-decoration: none;
}

@media (hover: hover) {
    .nav-design:hover {
        position: relative;
        bottom: 2px;
    }
}

@media (hover: none) {
    .nav-design {
        position: relative;
        bottom: 0;
    }
}

#show-stick {
    height: 7vh;
    width: 100vw;
    background-color: #282B30;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: white;
    font-family: 'Teko', sans-serif;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 8px 3px rgb(20, 20, 20);
    border-bottom: 1px solid black;
    z-index: 1;
}

#text-place {
    display: inline-grid;
    position: relative;
    font-size: clamp(2px, 10vw, 5vh);
    left: clamp(1.3vw, 12px, 12px);
}

#light-pic {
    max-height: 70%;
    position: relative;
    display: inline-grid;
    right: 4.5vw;
}

#home-d-cover {
    height: 200vh;
    padding: 1px;
}

#home-d-cover > div {
    place-items: center;
    position: relative;
    display: grid;
    bottom: -2.3vh;
}

#welcome-text {
    position: relative;
    font-size: 4vh;
    font-family: 'VT323', sans-serif;
    text-shadow: 0 0 15px lime;
    color: lime;    
}

#welcome-text > span {
    animation: visual 2.8s infinite;
    position: relative;
    right: -2px;
}

#w-text-c {
    width: 95%;
    height: 6.5vh;
    display: flex;
    border-radius: 19px;
    align-items: center;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0, 0.5);
    overflow: hidden;
}

#home-cont-down {
    width: 95%;
    height: 100vh;
    position: relative;
    top: 15px;
}

@keyframes drag {
    from {
        position: relative;
        opacity: 0;
        top: 25vh;
    }

    to {
        position: relative;
        opacity: 1;
        top: 2.3vh;
    }
}

@keyframes visual {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes color {
    0% { color: lime; }

    25% { color: rgb(137, 17, 137); }

    50% { color: red; }

    60% { color: orange; }

    75% { color: blue; }

    100% { color: lime; }
}